## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes


/app/assets/scripts/app.js
/app/assets/styles/stylesheet.css
/app/bower_components/

node_modules
vendor
dist
.sass-cache