$susy: (
  columns: 12,
  gutters: .25
);

.container {
    
    &, &-xs, &-sm, &-md, &-lg, &-xl {
        @include container;
        width: 75%;
    }
    &-xs {
        @media (max-width: $xs-breakpoint) {
            width: 100%;
        }
    }
    &-sm {
        @media (max-width: $sm-breakpoint) {
            width: 100%;
        }
    }
    &-md {
        @media (max-width: $md-breakpoint) {
            width: 100%;
        }
    }
    &-lg {
        @media (min-width: $lg-breakpoint) {
            width: 100%;
        }
    }
    &-xl {
        @media (min-width: $xl-breakpoint) {
            width: 100%;
        }
    }
}

@for $colWidth from 1 to 12 {
    .col-#{$colWidth} {
        &, &-xs, &-sm, &-md, &-lg, &-xl {
            @include span($colWidth);
            &.last {
                margin-right: 0;
            }
        }

        &-xs {
            @media (max-width: $xs-breakpoint) {
                margin-right: 0;
                @include span(12 last); 
            }
        }
        &-sm {
            @media (max-width: $sm-breakpoint) {
                margin-right: 0;
                @include span(12 last); 
            }
        }
        &-md {
            @media (max-width: $md-breakpoint) {
                margin-right: 0;
                @include span(12 last); 
            }
        }
        &-lg {
            @media (min-width: $lg-breakpoint) {
                margin-right: 0;
                @include span(12 last); 
            }
        }
        &-xl {
            @media (min-width: $xl-breakpoint) {
                margin-right: 0;
                @include span(12 last); 
            }
        }
    }
}
