$nColumns: 10;
$gutter: 0.05;

@function grid-width($size, $has-gutter:false) {
  
    @if $has-gutter {
        @return calc( (1 - #{$gutter}) * (100% / #{$nColumns}) * #{$size} );  
    }
    @else {
        @return calc( (100% / #{$nColumns}) * #{$size} );
    }
  
}
.container {
    
    &, &-xs, &-sm, &-md, &-lg, &-xl {
        @include container;
        width: 75%;
    }
    &-xs {
        @media (max-width: $xs-breakpoint) {
            width: 100%;
        }
    }
    &-sm {
        @media (max-width: $sm-breakpoint) {
            width: 100%;
        }
    }
    &-md {
        @media (max-width: $md-breakpoint) {
            width: 100%;
        }
    }
    &-lg {
        @media (min-width: $lg-breakpoint) {
            width: 100%;
        }
    }
    &-xl {
        @media (min-width: $xl-breakpoint) {
            width: 100%;
        }
    }
}

@for $colWidth from 1 to 12 {
    .col-#{$colWidth} {
        &, &-xs, &-sm, &-md, &-lg, &-xl {
            width: grid-width($colWidth, true);
        }

        &-xs {
            @media (max-width: $xs-breakpoint) {
                width: grid-width($colWidth); 
            }
        }
        &-sm {
            @media (max-width: $sm-breakpoint) {
                width: grid-width($colWidth);
            }
        }
        &-md {
            @media (max-width: $md-breakpoint) {
                width: grid-width($colWidth); 
            }
        }
        &-lg {
            @media (min-width: $lg-breakpoint) {
                width: grid-width($colWidth);
            }
        }
        &-xl {
            @media (min-width: $xl-breakpoint) {
                width: grid-width($colWidth);
            }
        }
    }
}
