@mixin grid($size, $has-gutter:false){
    @if $has-gutter {
        width: calc( (1 - #{$gutter}) * (100% / #{$nColumns}) * #{$size} );
        margin: 0 ($gutter/2)*100%;
    }
    @else {
        width: calc( (100% / #{$nColumns}) * #{$size} );
    }
}
.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    &:after {
        content: " ";
        display: block;
        clear: both; 
    }
    
    @include max-sm {
    	width: $screen-width--max-sm;
    }
    @include sm-md {
        width: $screen-width--sm-md;
    }
    @include md-lg {
        width: $screen-width--md-lg;
    }
    @include lg-xlg {
        width: $screen-width--lg-xlg;
    }
    @include min-xlg {
        width: $screen-width--min-xlg;
    }
}

@for $colWidth from 1 to 12 {
    .col__#{$colWidth} {
        &, &--xs, &--sm, &--md, &--lg, &--xlg {
            @include grid($colWidth, true);
        }
        &--xs {
            @include max-xs {
                width: 100%;
            }
        }
        &--sm {
            @include max-sm {
                width: 100%;
            }
        }
        &--md {
            @include max-md {
                width: 100%;
            }
        }
        &--lg {
            @include max-lg {
                width: 100%;
            }
        }
        &--xlg {
            @include max-xlg {
                width: 100%;
            }
        }
    }
}
