@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

// MEDIA MIXINS

@mixin media($max, $min) {
    @media (max-width: $max) and (min-width: $min) { @content; }
}
@mixin media-min($min) {
    @media (max-width: $min) { @content; }
}
@mixin media-max($max) {
    @media (max-width: $max) { @content; }
}

@mixin max-xs {
    @media (max-width: $breakpoint-xs) { @content; }
}
@mixin min-xs {
    @media (min-width: $breakpoint-xs) { @content; }
}
@mixin max-sm {
    @media (max-width: $breakpoint-sm) { @content; }
}
@mixin min-sm {
    @media (min-width: $breakpoint-sm) { @content; }
}
@mixin max-md {
    @media (max-width: $breakpoint-md) { @content; }
}
@mixin min-md {
    @media (min-width: $breakpoint-md) { @content; }
}
@mixin min-lg {
    @media (min-width: $breakpoint-lg) { @content; }
}
@mixin max-lg {
    @media (max-width: $breakpoint-lg) { @content; }
}
@mixin min-xlg {
    @media (min-width: $breakpoint-xlg) { @content; }
}
@mixin max-xlg {
    @media (max-width: $breakpoint-xlg) { @content; }
}

@mixin xsm-sm {
    @media (max-width: $breakpoint-xsm) and (min-width: $breakpoint-sm) { @content; }
}
@mixin xsm-md {
    @media (max-width: $breakpoint-xsm) and (min-width: $breakpoint-md) { @content; }
}
@mixin xsm-lg {
    @media (max-width: $breakpoint-xsm) and (min-width: $breakpoint-lg) { @content; }
}
@mixin xsm-xlg {
    @media (max-width: $breakpoint-xsm) and (min-width: $breakpoint-xlg) { @content; }
}

@mixin sm-md {
    @media (max-width: $breakpoint-sm) and (min-width: $breakpoint-md) { @content; }
}
@mixin sm-lg {
    @media (max-width: $breakpoint-sm) and (min-width: $breakpoint-lg) { @content; }
}
@mixin sm-xlg {
    @media (max-width: $breakpoint-sm) and (min-width: $breakpoint-xlg) { @content; }
}

@mixin md-lg {
    @media (max-width: $breakpoint-md) and (min-width: $breakpoint-lg) { @content; }
}
@mixin md-xlg {
    @media (max-width: $breakpoint-md) and (min-width: $breakpoint-xlg) { @content; }
}

@mixin lg-xlg {
    @media (max-width: $breakpoint-lg) and (min-width: $breakpoint-xlg) { @content; }
}