// Colors
$brand-primary: #27ae60;

// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xlg: 1800px;

// Widths
$screen-width--max-sm: 95%;
$screen-width--sm-md: 95%;
$screen-width--md-lg: $breakpoint-md * 0.8;
$screen-width--lg-xlg: $breakpoint-lg * 0.8;
$screen-width--min-xlg: $breakpoint-xlg * 0.8;

//Grid system settings
$nColumns: 10;
$gutter: 0.05;

